* {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background: #333;
    text-align: center;
}

.navbar {
    background-color: #b5c476;
    padding: 15px;
    color: white;
    font-size: 25px;
    position: relative;
    width: 100%;
    top: 0;
    box-shadow: 0px 4px 8px rgb(20, 20, 20), ;
}

h1 {
    background-color: rgb(122, 111, 218);
    color: rgb(239, 237, 245);
    border-radius: 15px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
}